
    <h2> Syd's Shoe Styles Brand Guide</h2>
  
  <!-- <figure>
    <img src = "folderyourimagesarein/nameofyourimage.typeofyourimage" 
      alt = "describe your image" 	
      height = "howtallyourimageis" width = "howwideyourimageis" />
    <figcaption>" "</figcaption>
  </figure> -->
  
   <p class="one"> Welcome to Syd's Shoe Styles! This site will include shoe style inspiration for everyone.<br>
   Please look through my site for all the shoe inspiration you need.<br>
   Find shoe styles for all events including casual, formal, and business. I created this brand<br>
   because I really love shoes and wanted to share some of my<br>
   favorite shoe styles and footwear advise with you.
   </p>
    
  <ul>
    <li><strong>Font: Helvetica</strong></li>
    <li><strong>Colors:</strong>
        <ol>
          <li>Background: rgba(159, 207, 201, 0.705) blue green variant</li>
          <li>Nav:<br>
              background-color: moccasin *pale tan, (hover rgba(160, 81, 45, 0.411) *gray tan)<br>
              color: rgba(199, 22, 22, 0.63) dark samon</li>
          <li>Font-color:<br>
                  body: rgba(14, 53, 16, 0.856) dark forest green<br>
                  h1:  rgba(33, 49, 48, 0.664) gray blue<br>
                  h2: rgba(19, 126, 99, 0.849) dark teal<br>
                  footer:  rgba(9, 54, 43, 0.849) dark blue/green<br>
          </li>
     
        </ol>
   </li>
 </ul>
