    <h2>Console Code and Play </h2>

		<p class="input">Input</p>
		<br>
		<p class="output">Output</p>
		<br>


		<p class="input">4+4</p>
		<br>
		<p class="output">8</p>
		<br>

		<p class="input">9+9</p><br>
		<p class="output">18</p><br>

		<p class="input">6/6</p><br>
		<p class="output">1</p><br>

		<p class="input">4/4</p><br>
		<p class="output">1</p><br>

		<p class="input">
		if (string === "Hello") {

		alert(string);

		}</p><br>
		<p class="output">
		{ string is not defined }
		</p><br>

		<p class="input"> System.out.printf("\nValue 1 * Value 3 = \n"+valueOne * valueThree);</p><br>

		<p class="output">{ System is not defined }</p><br>

		<p class="input">System.out.printf("Fun Value 1: $%,.2f\n",funValue1);</p><br>
		<p class="output">{ System is not defined }</p><br>


		<p class="input">float++</p><br>
		<p class="output">{ float is not defined }
		</p><br>


		<p class="input">Math.max(12, 90, 30, 40, 60, 22)</p><br>
		<p class="output">90</p><br>

		<p class="input">
		Math.min(12, 90, 30, 40, 60, 22)
		</p><br>
		<p class="output">
		12
		</p><br>

		<p class="input">
		alert(12/6)
		 </p><br>
		<p class="output">
		undefined
		 </p><br>

		<p class="input">
		    alert(Hi)
		</p><br>
		<p class="output">
		    { Hi is not defined }
		 </p><br>

		<p class="input">
		    name = Sydney
		</p><br>
		<p class="output">
		{ Sydeny is not defined }
		</p><br>

		<p class="input">
		    name = "Sydney"
		</p><br>
		<p class="output">
		    Sydney
		 </p><br>

		 <p class="input">
		    alert = ("12 + 6")
		</p><br>
		<p class="output">
		    12 + 6
		 </p><br>

		 <p class="input">
		    alert = ("Hi")
		</p><br>
		<p class="output">
		 Hi
		 </p><br>

		<p class="input">
		3/3
		</p><br>
		<p class="output">
		1 
		 </p><br>

		 <p class="input">
		    60/660
		</p><br>
		<p class="output">
		    0.09090909090909091
		 </p><br>

		<p class="input">
		    string = ("Hello")
		</p><br>
		<p class="output">
		 Hello
		 </p><br>


		<p class="input">
		    string = 70
		</p><br>
		<p class="output">
		 70
		 </p><br>

		 <p class="input">
		    string = 70(90 * 4)
		</p><br>
		<p class="output">
		{ 70 is not a function }
		 </p><br>



		<p class="input">
		    string = (70 * (90 *4))
		</p><br>
		<p class="output">
		 25200
		 </p><br>

		<p class="input">
		    70/8
		</p><br>
		<p class="output">
		    8.75
		 </p><br>


		<p class="input">
		8/70
		</p><br>
		<p class="output">
		 0.11428571428571428
		 </p><br>

		<p class="input">
		string = ("hello, how are you?")
		</p><br>
		<p class="output">
		hello, how are you? 
		 </p><br>

		<p class="input">
		    string = ("insert name here: ")
		</p><br>
		<p class="output">
		    insert name here:
		 </p><br>

		<p class="input">
		30+50
		</p><br>
		<p class="output">
		 80
		 </p><br>


		<p class="input">
		    System.out.printf("Fun Value 2: $%,.2f\n",funValue2);

		</p><br>
		<p class="output">
		    { System is not defined }

		 </p><br>

		 <p class="input">
		    System.out.printf("Fun Value 2: $%,.2f\n",funValue2);

		</p><br>
		<p class="output">
		    { System is not defined }

		 </p><br>
		 <p class="input">
		    System.out.printf("\nValue 2 / Value 3 = $%,.2f\n",valueTwo / valueThree); 

		</p><br>
		<p class="output">
		    { System is not defined }

		 </p><br>

		 <p class="input">
		    final double VALUE_1 = 50.00;

		</p><br>
		<p class="output">
		    { Unexpected token, expected ; (1:22) }
		 </p><br>


		<p class="input">int = entries;     System.out.print("Enter the number of entries you desire: ");
		      entries = keyboard.nextInt();      
		</p><br>
		<p class="output">
		{ entries is not defined }
		</p><br>

		<p class="input">
		int = entries;     System.out.print("Enter the number of entries you desire: 9");
		      entries = keyboard.nextInt(); </p><br>

		 <p class="output">   
		{ entries is not defined }
		</p><br>

		<p class="input">
		double valueThree
		</p><br>

		<p class="output">  
		{ Unexpected token, expected ; (1:21) }
		</p><br>

		<p class="input">
		double valueTwo
		</p><br>

		<p class="output"> 
		{ Unexpected token, expected ; (1:21) }
		</p><br>

		<p class="input">
		 System.out.printf("The sum of Fun Value 1 and Fun Value 2 for "+entries+
					" entries is $%,.2f", total);
		 </p><br>

		 <p class="output"> 
		 {System is not defined }
		</p><br>

		<p class="input">
		      final double VALUE_4 = 55; 
		 </p><br>

		<p class="output"> 
		{ Unexpected token, expected ; (1:26) }
		</p><br>

		<p class="input">
		80 + 80
		</p><br>

		<p class="output">
		160
		</p><br>

		<p class="input">
		40 + 40
		</p><br>

		<p class="output">
		80
		</p><br>

		<p class="input">
		3 - 2
		</p><br>
		<p class="output">
		1
		</p><br>

		<p class="input">
		111 - 44
		</p><br>

		<p class="output">
		67
		</p><br>

		<p class="input">
		60 - num1
		</p><br>

		<p class="output">
		{ num1 is not defined }
		</p><br>

		<p class="input">
		60 -70
		</p><br>

		<p class="output">
		-10
		</p><br>

		<p class="input">
		12 + 12
		</p><br>

		<p class="output">
		24
		</p><br>


		<p class="input">
		60 + 60
		</p><br>

		<p class="output">
		120
		</p><br>

		<p class="input">
		(5 + 5) * 8
		</p><br>
		<p class="output">
		80
		</p><br>


		<br>
