       
	   <h2>FizzBuzz 3</h2>
       <h4 id="greeting">Welcome to Syd's Shoe Styles !</h4>

  <form id="form1" style="text-align: center;">
      <label for="first_name">First Name: </label>
          <input type="text" id="first_name"  required/>       
     <br>
 
     <label for="last_name">Last Name: </label>
          <input type="text" id="last_name"  required/>    
    <br>  

     <label for="middle_initial">Middle Initial: </label>
          <input type="text" id="middle_initial"  required/>
    <br>   

      <input type="button" id="submit" onclick="return formSubmit()" value="Submit"/>
   </form>
 
   <ul id="buzz">

   </ul>
