<footer> 
    

    <p> 
	    <a href="https://github.com/smoncur0">Github Account</a> -
	    <a href="https://smoncur0.github.io/">Github IO</a> -
	    <a href="https://smoncur0.github.io/web115">Github Course</a> - 
	    <a href="https://www.freecodecamp.org/smoncur0">FreeCodeCamp</a> -
	    <a href="https://www.codecademy.com/profiles/smoncur0">Codecademy</a> -
	    <a href="https://jsfiddle.net/user/smoncur0/fiddles/">JSFiddle</a> -
	    <a href="https://profile.edx.org/u/smoncur0">edX</a> -
	    <a href="https://www.linkedin.com/in//">LinkedIn</a>     
     </p>
	<h3>Syd's Shoe Styles Find Inspo Quick!</h3>
     <p>
	     Designed by Marie Tech &copy; 2021
     </p>
     <a href="https://validator.w3.org/check?uri=" id="validation_link_html"><img src= "web115/images/html.png" alt="Validate HTML!"
		style= "border: 0; width: 88px; height: 31px" /></a> 
	<a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validation_link_css"><img src= "web115/images/css.png" alt="Validate CSS!"
		style= "border: 0; width: 88px; height: 31px" /></a> 
	<script>
          document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href); 
          document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href); 
	</script>
 </footer>
		<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fsmoncur0.github.io%2Fweb115%2Fbrand.html&checkerrorpages=yes&showsource=yes&showoutline=yes">
		<img src= "images/html.png" alt="Validate HTML!"
		style= "border: 0; width: 88px; height: 31px" /></a>

		<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fsmoncur0.github.io%2Fweb115%2Fbrand.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
		<img src= "images/css.png" alt="Validate CSS!"
		style= "border: 0; width: 88px; height: 31px" /></a>
