   <h2>
   Introduction
   </h2>
   


  <figure style="text-align: center;">
        <img src = "images/intro.png" alt = ""  height = "370" width = "327" />
          <figcaption>Out and about in South End</figcaption>
  </figure>

	


		<ul>
			<li>Personal background:  Moved to North Carolina when I was three years old.
			I am a middle college student and I started taking CPCC courses in 2019.
			I am the youngest in my family and the only pet I have owned was a betta fish.</li> 

			<li>Academic background:  I went to elementary, middle, and high school in Charlotte.
			 I am currently in my last year of school as a middle college student because
			 I decided to stay another year to finish my degree.</li> 

			<li>Background in this subject: The first time that I was exposed to coding was in middle school. 
			I signed up for the stem program and was able to take multiple courses that gave me a foundation
			 in computer technology. </li>

			<li>Primary Computer Platform:  My main computer platform consists of 
			whatever I am assigned to do for classes. 
			I am most proficient with the Windows platform.</li>

		               <li>Courses I'm Taking & Why:

					<ul> 		
					<li>DBA-120-N801 - Database Programming I - I need this course for my degree.</li>

					<li><a href="https://smoncur0.github.io/web115/contract.html" style= "text-decoration: none; color: rgba(33, 49, 48, 0.664);">WEB-115-N801</a> - Web Markup and Scripting - I need this course for my degree 
					and I enjoy web development based courses.</li>

					<li>WEB-120-N801 - Intro to Internet Multimedia - I need this course for my degree.</li>

					<li>WEB-140-N801 - Web Development Tools - I need this course for my degree. </li>

				       <li><a href="https://smoncur0.github.io/web210/contract.html" style= "text-decoration: none; color: rgba(33, 49, 48, 0.664);">WEB-210-N801</a> - Web Design - I enjoy the creativity that comes with this course 
					and I also need it for my degree. </li>
					</ul>
			
			     </li>

		       <li>Funny/Interesting item about yourself: I haved played the cello since 6th grade.</li>
		       <li>I'd also like to share: I am left-handed.</li>

	      </ul>
